---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <p>Full publication list also available on <a href="{{site.author.googlescholar}}" target="_blank">Google Scholar</a> and <a href="https://orcid.org/0000-0002-2073-1519" target="_blank">ORCID</a>. * denotes (co-)first author.</p>
{% endif %}

<div class="publication-list">
<ul>{% for post in site.publications reversed %}
  {% include archive-single-cv.html %}
{% endfor %}</ul>
</div>
